* {
  overflow: hidden;
}

body {
  font-size: 14px;
  color: #222;
}

.font-licorice {
  font-family: 'Licorice', cursive;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Licorice', cursive;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.75rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

h6 {
  font-size: 1rem !important;
}

#wrapper {
  width: 100vw;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
}

#wrapper header, #wrapper section {
  padding: 0 1rem;
}

#wrapper header {
  position: relative;
  overflow: initial;
}

.full-screen-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  scroll-snap-align: start;
}

#header {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 80vw;
  height: 80vh;
  -webkit-animation: show 2s;
          animation: show 2s;
}

#header #header-title {
  font-size: 70px !important;
}

#header #header-subtitle {
  text-align: center;
}

#header #leafs-1-wrapper,
#header #leafs-2-wrapper {
  position: absolute;
  overflow: unset;
}

#header #leafs-1-wrapper {
  bottom: -50px;
  right: -50px;
  overflow: unset;
}

#header #leafs-1-wrapper #leafs-1 {
  -webkit-animation: header-leafs-1-move 20s infinite ease-in-out;
          animation: header-leafs-1-move 20s infinite ease-in-out;
}

#header #leafs-2-wrapper {
  top: -100px;
  left: -300px;
}

#header #leafs-2-wrapper #leafs-2 {
  -webkit-transform: rotate(73deg);
          transform: rotate(73deg);
  -webkit-animation: header-leafs-2-move 20s 2s infinite ease-in-out;
          animation: header-leafs-2-move 20s 2s infinite ease-in-out;
}

#header #leafs-1,
#header #leafs-2 {
  width: 50vw;
  max-width: 220px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}

#header #header-circle-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/img/circulo-hojas.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: header-circle-rotate 20s infinite ease-in-out;
          animation: header-circle-rotate 20s infinite ease-in-out;
}

@-webkit-keyframes header-circle-rotate {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  33% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  66% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes header-circle-rotate {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  33% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  66% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-header {
  max-width: 500px;
  position: relative;
  overflow: unset;
  margin: 0 auto;
}

.section-header .section-header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.section-header .section-header-content .section-header-title {
  font-size: 70px !important;
}

.section-header .section-header-content .section-header-title.small {
  font-size: 60px !important;
}

.section-header .section-header-bg {
  width: 100%;
  max-width: 100%;
  -webkit-animation: section-header-rotate 20s infinite ease-in-out;
          animation: section-header-rotate 20s infinite ease-in-out;
}

#wedding-date {
  margin-top: 0.5rem;
  font-weight: bold;
}

#countdown-wrapper {
  margin-top: 1rem;
  text-align: center;
}

#countdown-wrapper #countdown {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
      grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  color: #3bbcaf;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

#countdown-wrapper #countdown .countdown-slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#countdown-wrapper #countdown .countdown-slot .countdown-time {
  font-size: 25px;
  font-weight: bold;
}

#countdown-wrapper #countdown .countdown-slot .countdown-time-label {
  font-size: 12px;
}

#countdown-wrapper #countdown .countdown-slot-separator {
  padding-top: 0.5rem;
}

#add-to-calendar {
  text-align: center;
  margin-top: 2.5rem;
}

#add-to-calendar #add-to-calendar-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: white;
  background-color: #89c6bb;
  -webkit-transition: .2s;
  transition: .2s;
}

#add-to-calendar #add-to-calendar-button:hover {
  background-color: #78ada4;
}

#address {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  text-decoration: underline;
}

#map-container {
  margin-top: 2rem;
}

#map-container iframe {
  margin: 0 auto;
}

#transfer-claim {
  max-width: 100%;
  width: 310px;
  text-align: center;
  font-style: italic;
  margin-top: 1.5rem;
}

#bank-account {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

#copy-bank-account-button-wrapper {
  text-align: center;
  margin-top: 1.5rem;
}

#copy-bank-account-button-wrapper #copy-bank-account-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #cab1d4;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#copy-bank-account-button-wrapper #copy-bank-account-button:hover {
  background-color: #ac7ac0;
}

@-webkit-keyframes section-header-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  66% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes section-header-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  66% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes header-leafs-1-move {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  66% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes header-leafs-1-move {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  66% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes header-leafs-2-move {
  from {
    -webkit-transform: rotate(73deg);
            transform: rotate(73deg);
  }
  33% {
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
  66% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}

@keyframes header-leafs-2-move {
  from {
    -webkit-transform: rotate(73deg);
            transform: rotate(73deg);
  }
  33% {
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
  66% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
}
/*# sourceMappingURL=main.css.map */