*{
    overflow: hidden;
}

body{
    font-size: 14px;
    color: #222;
}

@font-face {
    font-family: 'daydreamregular';
    src: url('./../../assets/fonts/daydream.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin font-licorice {
    font-family: 'Licorice', cursive;
}

@mixin font-daydream {
    font-family: 'daydreamregular', cursive;
}


@mixin leafs-drop-shadow {
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.4));
}

@mixin header-bg-drop-shadow {
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.1));
}

.font-licorice{
    @include font-licorice();
}

.overflow-initial{
    overflow: initial;
}

.divider{
    margin: 2rem 0;
    width: 100%;
    border-top: 1px dashed #ddd;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    @include font-licorice();
}

h1{ font-size: 2.5rem !important; }
h2{ font-size: 2rem !important; }
h3{ font-size: 1.75rem !important; }
h4{ font-size: 1.5rem !important; }
h5{ font-size: 1.25rem !important; }
h6{ font-size: 1rem !important; }

p{
    text-align: justify;

    &+p{
        margin-top: 1rem;
    }
}

.comment{
    font-style: italic;
    color: #777;
}

.tally-popup{
    overflow: initial;
}

#wrapper{
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: auto;

    header, section{
        padding: 0 1rem;
    }

    header{
        position: relative;
        overflow: initial; //Para que las hojas no se corten por debajo
    }
}

.full-screen-section{
    // display: grid;
    // place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    scroll-snap-align: start;

    //Header
    #header-title,
    #header-subtitle,
    .header-leaf,
    #home-spot-wrapper,
    //Sections
    .section-header-bg,
    .section-header-content,
    .section-content{
        opacity: 0;
        transition: 1s;
    }

    #header-title,
    #header-subtitle,
    #home-spot-wrapper,
    .section-header-bg,
    .section-header-content,
    .section-content{
        transform: scale(0.9);
    }

    &.fade{
        //Header
        #header-title,
        #header-subtitle,
        #home-spot-wrapper,
        .header-leaf,
        //Sections
        .section-header-bg,
        .section-header-content,
        .section-content{
            opacity: 1;
        } 

        #header-title,
        #header-subtitle,
        #home-spot-wrapper,
        .section-header-bg,
        .section-header-content,
        .section-content{
            transform: scale(1);
        }

        //Header
        .header-leaf{
            transition-delay: 0;
        }
        #header-title{
            transition-delay: .8s;
        }
        #header-subtitle{
            transition-delay: 1.3s;
        }
        // Sections
        .section-header-bg{
            transition-delay: 0;
        }
        .section-header-content{
            transition-delay: .3s;
        }
        .section-content{
            transition-delay: .6s;
        }
    }
}

#header{
    display: grid;
    place-content: center;
    width: 80vw;
    height: 80vh;
    //position: relative;

    #header-title{
        font-size: 60px !important;
        @include font-daydream();
        color: #505050;
        //font-weight: bold;
    }

    #header-subtitle{
        text-align: center;
    }

    #home-spot-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        display: grid;
        place-content: center;
        padding: 0 1rem;

        img{
            object-fit: contain;
            max-width: 100%;
            opacity: 0.15;
        }
    }
    
    #leafs-1-wrapper,
    #leafs-2-wrapper{
        position: absolute;
        overflow: unset;
    }

    #leafs-1-wrapper{
        bottom: -50px;
        right: -50px;
        overflow: unset;

        #leafs-1{ 
            animation: header-leafs-1-move 20s infinite ease-in-out;
        }

    }

    #leafs-2-wrapper{
        top: -100px;
        left: -300px;

        #leafs-2{
            transform: rotate(73deg);
            animation: header-leafs-2-move 20s 2s infinite ease-in-out;
        }
    }

    
    #leafs-1,
    #leafs-2{
        width: 50vw;
        max-width: 220px;
    }

    
    #leafs-3{
       max-width: 300px; 
    }

    #leafs-1,
    #leafs-2,
    #leafs-3{
        transform-origin: bottom right;
        @include leafs-drop-shadow();
    }

    #header-circle-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./../../assets/img/circulo-hojas.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        animation: header-circle-rotate 20s infinite ease-in-out;
        
        @keyframes header-circle-rotate {
            from{
                transform: rotate(20deg);
            }
            33%{
                
                transform: rotate(30deg);
            }
            66%{
                
                transform: rotate(10deg);
            }
            to{
                transform: rotate(20deg);
            }
        }
    }
}

.section-header{
    //width: 80vw;
    max-width: 500px;
    position: relative;
    overflow: unset;
    margin: 0 auto;

    .section-header-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;

        .section-header-title{
            font-size: 70px !important;
            //filter: drop-shadow(0px 1px 7px rgba(0,0,0,0.5));

            &.small{
                font-size: 60px !important;
            }

            &.compact{
                line-height: 74px;
            }
        }
    }

    .section-header-bg-wrapper{
        animation: section-header-rotate 20s infinite ease-in-out;

        .section-header-bg{
            width: 100%;
            max-width: 100%;
        }

    }
}

#wedding-date{
    margin-top: 0.5rem;
    font-weight: bold;
}

#countdown-wrapper{
    margin-top: 1rem;
    text-align: center;

    #countdown{
        $countdown-color: #3bbcaf;
        display: inline-grid;
        grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
        color: $countdown-color;
        column-gap: 0.25rem;

        .countdown-slot{
            display: flex;
            flex-direction: column;
            align-items: center;

            .countdown-time{
                font-size: 25px;
                font-weight: bold;
            }

            .countdown-time-label{
                font-size: 12px;
            }
        }

        .countdown-slot-separator{
            padding-top: 0.5rem;
        }
    }

}

#add-to-calendar{
    text-align: center;
    margin-top: 2.5rem;

    #add-to-calendar-button{
        display: inline-flex;
        align-items: baseline;
        color: white;
        background-color: #89c6bb; //#96d9cd;
        transition: .2s;
        
        &:hover{
            background-color: #78ada4;
        }
    }

}

#address{
    display: block;
    text-align: center;
    margin-top: 2rem;
    
    > span{
        font-style: italic;
        text-decoration: underline;
    }
}

#map-container{
    margin-top: 2rem;

    iframe{
        margin: 0 auto;
    }
}

#time-table{
    margin-top: 3rem;

    p{
        text-align: center;
        font-style: italic;
        margin-bottom: 1rem;

        > span{
            font-style: normal;
        }
    }

    table{
        margin: 0 auto;

        tr{

            td:first-child{
                text-align: right;
                font-weight: bold;
            }

            td:last-child{
                padding-left: 0.5rem;
            }
        }
    }
}

#transfer-claim{
    max-width: 100%;
    width: 310px;
    text-align: center;
    font-style: italic;
    margin-top: 1.5rem;
}

#bank-account{
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

#copy-bank-account-button-wrapper{
    text-align: center;
    margin-top: 1.5rem;

    #copy-bank-account-button{
        display: inline-flex;
        align-items: baseline;
        background-color: #cab1d4;
        //color: white;
        cursor: pointer;
        transition: .2s;
        
        &:hover{
            background-color: #ac7ac0;
        }
    }
}

#hotels-intro{
    margin-top: 3rem;

    p{
        text-align: center;
        font-style: italic;
    }
}

#hotels-list{
    margin-top: 2rem;
    overflow: initial;

    .hotel{
        overflow: initial;

        .hotel-name{
            text-align: left;
            font-family: inherit;
        }

        .hotel-attributes{
            margin-top: 0.25rem;
            display: flex;

            .hotel-attribute{
                display: flex;
                align-items: center;

                &+.hotel-attribute{
                    margin-left: 0.5rem;
                    padding-left: 0.5rem;
                    border-left: 1px solid #ddd;
                }
            }
        }

        .hotel-image{
            margin-top: 0.5rem;

            img{
                height: 150px;
                width: 100%;
                object-fit: cover;
                border-radius: 3px;
            }
        }

        .hotel-description{
            margin-top: 1rem;

            a{
                text-decoration: underline;
                color: #fa79b1;
            }

            ul + p, 
            p + ul{
                margin-top: 1rem;
            }
        }

        .hotel-actions{
            margin-top: 1.5rem;
            display: flex;
            justify-content: flex-end;
            
            a{
                display: inline-flex;
                align-items: center;
                background-color: #ffcae1;
                font-size: 12px;
                padding: 0.5rem 0.75rem;
                cursor: pointer;
                transition: .2s;
                
                &:hover{
                    background-color: #fca4ca;
                }

                &+a{
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

#bus-booking{
    //margin-top: 2rem;

    h3{
        text-align: left;
        font-family: inherit;
    }

    #book-bus-form-button-wrapper{
        text-align: center;
        margin-top: 2rem;

        #book-bus-form-button{
            display: inline-flex;
            align-items: center;
            background-color: #fca4ca;
            cursor: pointer;
            transition: .2s;
            
            &:hover{
                background-color: #fa79b1;
            }
        }
    }
}

#hotel-alternatives{
    text-align: center;
    margin-bottom: 1rem;

    #hotel-alternatives-button{
        margin: 0 auto;
        margin-top: 1rem;
        display: inline-flex;
        align-items: center;
        background-color: #fca4ca;
        cursor: pointer;
        transition: .2s;
        
        &:hover{
            background-color: #fa79b1;
        }
    
    }
}

#thanks{
    margin: 2rem 0;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 50%;
        width: 200px;
        margin-bottom: 1rem;
    }
}
        
@keyframes section-header-rotate {
    from{
        transform: rotate(0deg);
    }
    33%{
        
        transform: rotate(10deg);
    }
    66%{
        
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes header-leafs-1-move {
    from {
        transform: rotate(0);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-2deg);
    }
}

@keyframes header-leafs-2-move {
    from {
        transform: rotate(73deg);
    }
    33% {
        transform: rotate(76deg);
    }
    66% {
        transform: rotate(70deg);
    }
}