body{
    overflow: hidden;
}

#wrapper{
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

.full-screen-section{
    display: grid;
    place-content: center;
    scroll-snap-align: start;
}